@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-swiper
      width: 600px
      &__img
        height: 100%
        width: 100%
        object-fit: cover
@media (max-width: 992px)
  .container,
  .newsletter-wrapper
    max-width: 700px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: 47px
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
  .logo
    width: 132px
  .search
    width: 340px
  .hotel
    padding-bottom: 60px
  .hotel
    &-grid
      flex-direction: column
    &-swiper
      width: 100%
  .booking
    width: 340px
    &-container
      flex-direction: row
      &__media
        margin-top: 30px
  .map
    width: 340px
    height: 210px
  .reviews
    padding-bottom: 60px
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
    &-swiper
      &__item
        width: 580px
@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    &__search, &-menu, &__user
      display: none
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      justify-content: space-between
      align-items: center
      flex-direction: column
      border: none
      background: $white-color
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .booking
    width: 100%
    &-container
      flex-wrap: wrap
      &__map
        margin-top: 20px
  .map
    width: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: start
    &__subscribe
      margin-top: 37px
  .subscribe
    height: 55px
  .reviews
    &-swiper
      &__item
        width: 480px
@media (max-width: 620px)
  .reviews
    &-swiper
      &__item
        width: 450px
@media (max-width: 576px)
  .logo
    width: 99px
  .hotel
    padding-bottom: 40px
    &-wrapper
      justify-content: space-between
    &-info
      display: block
      &__offer
        order: -1
        margin-left: 0
    &-name
      flex-basis: 100%
    &-swiper
      height: 279px
  .stars
    flex-basis: 48px
  .rating
    display: none
  .reviews
    padding-bottom: 50px
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 42px
    &-swiper
      &__item
        width: 281px
        padding: 0 31px 36px
        &:before
          display: none
        &:after
          display: none
      &__text
        width: 220px
      &__button
        top: 45px
        &--prev
          left: 50%
          margin-left: -80px
        &--next
          right: 50%
          margin-right: -80px
@media (max-width: 407px)
  .description
    max-width: 285px
  .hotel
    &-swiper
      height: 179px
  .map
    height: 172px
  .newsletter
    &-title
      font-weight: 300
      font-size: 20px
      line-height: 25px
      &__strong
        margin-top: 5px
        font-weight: 300
        font-size: 30px
        line-height: 38px
  .subscribe
    width: 280px
